@page
@using FoodieSeattle.WebSite.Services
@inject RestaurantService restaurantService
@model FoodieSeattle.WebSite.Pages.Restaurant.CreateModel

@{
    ViewData["Title"] = "Create page";
}

<!--CRUDi: Create page to show: will redirect to Index Page-->
<h1>Create</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.restaurant.Id)

        <div class="form-group">
            <label asp-for="restaurant.Title" class="control-label">Restaurant Name</label>
            <input asp-for="restaurant.Title" class="form-control" />
            <span asp-validation-for="restaurant.Title" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="restaurant.Neighborhood" class="control-label">Restaurant Neighborhood</label>
            <input asp-for="restaurant.Neighborhood" class="form-control" />
            <span asp-validation-for="restaurant.Neighborhood" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="restaurant.Type" class="control-label">Cuisine Type</label>
            <input asp-for="restaurant.Type" class="form-control" />
            <span asp-validation-for="restaurant.Type" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="restaurant.Description" class="control-label">Description</label>
            <input asp-for="restaurant.Description" class="form-control" />
            <span asp-validation-for="restaurant.Description" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="restaurant.Url" class="control-label">Link to Restaurant Home Website</label>
            <input asp-for="restaurant.Url" class="form-control" id="url-input" />
            <span asp-validation-for="restaurant.Url" class="text-danger"></span>
            <span class="text-danger visually-hidden" id="url-error-text">Please enter a valid URL.</span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="restaurant.Image" class="control-label">Link to Restaurant Image</label>
            <input asp-for="restaurant.Image" class="form-control" id="image-input" />
            <span asp-validation-for="restaurant.Image" class="text-danger"></span>
            <span class="text-danger visually-hidden" id="image-error-text">Please enter a valid URL.</span>
        </div>

        <br />

        <div class="form-group">
            <a type="button" value="Cancel" class="= btn btn-primary" asp-page="/Restaurant/Index">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary" id="save" />
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


