@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject RestaurantService _RestaurantService
@model ContosoCrafts.WebSite.Pages.Restaurant.DeleteModel


@{
    ViewData["Title"] = "Delete page";
}
<p style="line-height:5.5em;"> </p>
<!--CRUDi: Delete page to show: contains some data of the selected Restaurant and a button to confirm Delete-->
<h1>Delete</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Restaurant.Id)

        <div class="form-group">
            <label asp-for="Restaurant.Title" class="control-label"></label>
            <input asp-for="Restaurant.Title" class="form-control" />
            <span asp-validation-for="Restaurant.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Restaurant.Description" class="control-label"></label>
            <input asp-for="Restaurant.Description" class="form-control" />
            <span asp-validation-for="Restaurant.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Restaurant.Url" class="control-label"></label>
            <input asp-for="Restaurant.Url" class="form-control" />
            <span asp-validation-for="Restaurant.Url" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Restaurant.Image" class="control-label"></label>
            <input asp-for="Restaurant.Image" class="form-control" />
            <span asp-validation-for="Restaurant.Image" class="text-danger"></span>
        </div>

        <h1>Confirm Delete of this item</h1>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}