@page
@model ContosoCrafts.WebSite.Pages.Restaurant.RestaurantIndexModel
@{
    ViewData["Title"] = "Index page";
}
<p style="line-height:5.5em;"> </p>


@{
    int counter = 0;
}


<div class="container">

    <a asp-page="Create" class="btn btn-link" style="font-size: 20px;">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="font-size: 30px;">Restaurants</th>
                <th style="font-size: 30px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr style="background-color: @(counter % 2 == 0 ? "beige" : "white")">
                    <td style="font-size: 25px; position:center;">@product.Title</td>
                    <td style="text-align: left; font-size: 20px;"><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>

