@page

@using ContosoCrafts.WebSite.Components
@model IndexModel

<!DOCTYPE html>
<!---Coding By foodieSeattle--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> An About Us Page | foodieSeattle </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="./css/about us.css">
</head>

<p style="line-height:5.5em;"> </p>

<body>
    <section class="about-us">
        <div class="about">
            <div class="text">
                <h2>
                    About Us <img class="logo" src="~/img/icons/Color icon - alternate.png" width="154" height="98" />
                </h2>
                <h5>Food lover & <span>Foodies</span></h5>
                <p>Welcome to our website! We are a team of passionate foodies based in Seattle, Washington. Our mission is to share our love for food with the world and help people discover the best places to eat in Seattle.</p>
                <p>On this website, you'll find reviews of our favorite restaurants, cafes, and bars in Seattle. We also provide recommendations for different types of cuisine and dining experiences.</p>
                <p>Thank you for visiting our website. If you have any questions or feedback, please feel free to contact us.</p>
                <div class="data">
                    <a href="#" class="contact">Contact us</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>