@page

@using FoodieSeattle.WebSite.Components
@model IndexModel

<!DOCTYPE html>
<!---Coding By foodieSeattle--->
<html lang="en">
<head>

    <!--<title> An About Us Page | foodieSeattle </title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="./css/about.css">
</head>

<p style="line-height:5.5em;"> </p>

<body>
    <section class="about-us">
        <div class="about-container">
            <div class="text">
                <h2>
                    About Us <img class="logo" src="~/img/icons/Color_icon_no_background.png" width="155" height="155" />
                </h2>
                <h4>Food Lovers & <span>Foodies</span></h4>
                <p>Welcome to our website! We are a team of passionate foodies based in Seattle, Washington. Our mission is to share our love for food with the world and help people discover the best places to eat in Seattle.</p>
                <p>On this website, you'll find reviews of our favorite restaurants, cafes, and bars in Seattle. We also provide recommendations for different types of cuisine and dining experiences.</p>
                <p>Thank you for visiting our website. If you have any questions or feedback, please feel free to contact us.</p>
                <p style="line-height:20em;"> </p>
                <!---<div class="data">
                    <a href="#" class="contact">Contact us</a>
                </div>-->
                <h3 class="title">Introduce Our Team</h3>

                <div class="team">
                    <div class="member">
                        <img src="photo to introduce yourself" alt="Member 1">
                        <h3>Ben</h3>
                        <p>short description for recommend restaurant.</p>
                    </div>
                    <div class="member">
                        <img src="./img/group members/chia.jpg" alt="Member 2">
                        <h3>Chia Yu</h3>
                        <p>short description for recommend restaurant..</p>
                    </div>
                    <div class="member">
                        <img src="./img/group members/Po .jpg" alt="Member 3">
                        <h3>Po</h3>
                        <p>As a foodie in Seattle, I highly recommend <a href="https://sushikashiba.com/" target="_blank">Sushi Kashiba</a>, an exceptional restaurant located in Seattle. Renowned for its exquisite sushi, this establishment offers an unforgettable dining experience.</p>
                    </div>
                    <div class="member">
                        <img src="~/img/group members/Varun.jpg" alt="Member 4">
                        <h3>Varun</h3>
                        <p>As an Indian myself, I can't help but highly recommend indulging in the zesty masalas and tongue-tingling spiciness at Indian cuisines in Seattle.</p>
                    </div>

                </div>
        </div>
    </section>
</body>
</html>