@using FoodieSeattle.WebSite.Services
@inject RestaurantService callRestaurantService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodieSeattle</title>
    <link rel="shortcut icon" type="logo icon" href="~/img/icons/Color_icon_background.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="C:\Users\varun\OneDrive\Desktop\SU\SoftwareEng\FoodieSeattle\src\wwwroot\css\style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-GdJQma1vJ53yzVoCfs2Hsf6n5IT2gJ/upnfpUpM01pXH6Urg+6UksdQRVzIwMWIj" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7zOpuTT+zs1ZlxOj41MyydPy3sfmO05aP9Xlo6U5c6U5i1zGmRrwn19Za6KjMtiXM7+MX28nucLdXjKkzYOMYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-cH1EBh0yN2QyvNvmP4wJ4h3e1f/0Zpncij1NUBc50pKjOy+6bsy01mU5z6U5qu5/S+OY1ZplA+2QmlXgdJSEcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--<!--<!--<!--Creat a new header and buttons--><!----><!---->


    <header>
        <a href="/index">
            <img class="logo" src="~/img/logo/Color_logo_no_background.png" width="316" height="62" />
        </a>

        <!---<h1 class="header-title">
            <!--<i class="fas fa-utensils"></i><span style="font-size: 1.5em;font-weight:bold "><a href="/index" style="color: black">FoodieSeattle</a></span>
        </h1> -->

        <nav class="header-nav">

            <div class="nav-button">


                <ul>
                    <!---

                    <li class="featured"><a href="About.cshtml">Feature</a></li> 

                    <li class="Top Restaurants"><a href="/index">Top Restaurants</a></li>

                    -->

                    <li class="Catalog"><a href="/Restaurant/Index">Catalog</a></li>

                    <li class="About"><a href="/about">About</a></li>

                    <li class="privacy"><a href="/privacy">Privacy</a></li>

                </ul>

            </div>

        </nav>



        <!--filter dropdown-->
        @*<label for="filter">Filter by:</label>*@
        @*<select id="filter" onchange="GetRestaurantsByType(this.value)">
             <option value=""selected>All Restaurants</option>
             <option value="Caribbean">Caribbean</option>
             <option value="Chinese">Chinese</option>
             <option value="Indian">Indian</option>
             <option value="Japanese">Japanese</option>
             <option value="Laotian">Laotian</option>
             <option value="Mexican">Mexican</option>
             <option value="Thai">Thai</option>
             <option value="Vietnamese">Vietnamese</option>
         </select>*@
            
        <!--Search Bar-->
        @*<div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>*@
    </header>




    <div class="container" >
        <main role="main" class="pb-3" style="min-height: 100vh;">
            @RenderBody()
        </main>
    </div>



    <!--  footer -->

    <footer class="text-center text-lg-start text-black"
            style="background-color: #e8b986c6">
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-6 col-sm-6 col-md-3 mx-auto mt-3">

                        <img src="~/img/logo/Color_logo_no_background.png" alt"foodieSeattleLogoPic" width="250" height="49" class="logoPic" />


                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />



                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <!--    contact infomation        -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color:#4c3b29;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
                        <p><i class="fas fa-envelope mr-3"></i> FoodieSeattle@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +1 234 567 8890</p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color:#4c3b29;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>




                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #0082ca"
                           href="#!"
                           role="button">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <!-- Github
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #333333"
                           href="#!"
                           role="button">
                            <i class="fab fa-github"></i>
                        </a> -->
                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #ac2bac"
                           href="#!"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: blue"
                           href="#!"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>



                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            <!-- Grid container -->


            <br />
            <br />

            <hr size="3" style="margin:auto;" width="70%" color="black">
            <div class="text-center p-3">

                <p class="text-black" href="https://mdbootstrap.com/">  © 2023 Copyright: FoodieSeattle | All rights reserved. </p>
            </div>
        </div>

        <!-- End of .container -->

    </footer>


    <!-- move top icon -->
    <a href="#" class="move-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- //move top icon -->

    <script>const moveTopBtn = document.querySelector('.move-top');

        // listen for scroll events on the window
        window.addEventListener('scroll', function () {
            // check if the user has scrolled a certain distance down the page
            if (window.pageYOffset > 100) { // adjust the number to your preference
                // show the move-top button
                moveTopBtn.style.display = 'block';
            } else {
                // hide the move-top button
                moveTopBtn.style.display = 'none';
            }
        });</script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
