<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodieSeattle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-GdJQma1vJ53yzVoCfs2Hsf6n5IT2gJ/upnfpUpM01pXH6Urg+6UksdQRVzIwMWIj" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-cH1EBh0yN2QyvNvmP4wJ4h3e1f/0Zpncij1NUBc50pKjOy+6bsy01mU5z6U5qu5/S+OY1ZplA+2QmlXgdJSEcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

</head>

<body>
    <!--<!--<!--<!--Creat a new header and buttons--><!----><!---->
    <header>
        <h1 class="header-title"><i class="fas fa-utensils"></i><span>FoodieSeattle</span></h1>
        <nav class="header-nav">

            <div class="nav-button">


                <ul>
                    <li class="featured"><a href="#about">TOP CUISINE</a></li>
                    <li class="types"><a href="#search">TOP RESTAURANT</a></li>
                    <li class="privacy"><a href="#contact">Privacy</a></li>
                </ul>



            </div>

        </nav>
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <!--  footer -->

    <footer class="text-center text-lg-start text-white"
          style="background-color: #e8b986c6 ">
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold">
                            FoodieSeattle
                        </h5>

                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />



                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <!--    contact infomation        -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
                        <p><i class="fas fa-envelope mr-3"></i> FoodieSea@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #3b5998; "
                           href="#!"
                           role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #55acee"
                           href="#!"
                           role="button">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #dd4b39"
                           href="#!"
                           role="button">
                            <i class="fab fa-google"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #ac2bac"
                           href="#!"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #0082ca"
                           href="#!"
                           role="button">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1"
                           style="background-color: #333333"
                           href="#!"
                           role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
       


        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">

            <a class="text-white" href="https://mdbootstrap.com/">  © 2023 Copyright : FoodieSeattle.   All rights reserved. </a>
        </div>


    </footer>


    <!-- End of .container -->
    <!-- End of .container -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
