/*about page body*/
body {
    /* Set the background image and adjust its properties */
    background-image: url('/img/images/landing_page_background_photo.jpg');
    /*removed the repeat background image*/
    background-repeat: no-repeat;
    /*set up the image cover the body block*/
    background-size: cover;
    /*set up the image in the center*/
    background-position: center;
}


.about-us {
    background-size: cover;
    background-position: center;
}

    /*white text block*/
    .about-us .text {
        /* Add a semi-transparent white background */
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        display: flex;
        /*direction of the flex container's main axis column is specified,
        which means the flex items are stacked vertically from top to bottom.*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*adjust the block height */
        min-height: 180px;
        /*adjust the block width */
        width: 1300px;
        margin: auto;
        /*adjust the gap between text block and footer*/
        margin-bottom:10px;
        margin-top:20px;
        position: center;
    }

.pic {
    height: auto;
    width: 302px;
}

.text h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.logo h2 {
    float: right;
}

.text h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: bold;
}

span {
    color: #4070f4;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}

.data {
    margin-top: 30px;
    text-align: center;
}

/*intorduce out foodie title*/
.title {
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: black; /* Adjust the color to your preference */
}


/*members */
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    width: 200px;
    text-align: center;
    margin: 20px;
}

    .member img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .member h3 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .member p {
        margin-top: 10px;
    }


/*
.contact {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.contact:hover {
background: #000;
border: 1px solid #4070f4;
}
*/
