

.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

.navbarExample01 {
    background-color: #e8b986c6;
}

.logo {
    margin-right: 20px;
}

.fas {
    font-size: 24px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    color: #4c3b29dc;
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #4c3b29dc;
    text-decoration: none;
}

    nav a:hover {
        color: #0366d6;
        text-decoration: none;
    }

.nav-button ul li {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}


.search-container {
    display: flex;
    justify-content: flex-end;
}

    .search-container input[type="text"] {
        padding: 5px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .search-container button {
        background-color: transparent;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

/* Dropdown items */
.dropdown-toggle::after {
    display: none;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

a.move-top:hover {
    color: #5BC286;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #4CBD7B;
        border-color: #4CBD7B;
    }

.navbar {
    border-bottom: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-nav {
    margin-top: 40px;
    justify-content: center !important;
}

.nav-link {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
    color: #4c3b29 !important;
}

.navbar-nav .nav-link {
    color: #4c3b29;
}

.navbar ul li a:hover {
    color: #5BC286 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


footer {
    /*adjust footer background color*/
    background-color: #e8b986;
    /*fixed the footer height to 180px*/
    min-height: 180px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Searchbar Styling
-------------------------------------------------- */
.custom-icon-color {
    color: #4c3b29;
}

.search-box {
    position: relative;
}

.search-input {
    padding-right: 40px; /* Increase the right padding to make space for the icon */
}

.search-addon {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.custom-icon-color {
    color: #4c3b29;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #f2f2f2;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

/*Backgrounds*/
.bg-navbar {
    background-color: #e8b986;
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}

.logoFoot {
    width: 150px;
    height: auto; /* This ensures the image keeps its aspect ratio */
    background: transparent;
}

.col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-floating {
    border-radius: 50%;
}

.btn-primary {
    color: #fff;
    background-color: #5BC286;
    border-color: #f0eff7;
}

    .btn-primary:active,
    .btn-primary:focus {
        background-color: #5BC286;
        outline: none;
    }

.btn-visit {
    color: #fff;
    background-color: #e8b986c6;
    border-color: #f0eff7;
}

/* bottom-to-top */
.move-top {
    position: fixed;
    bottom: 30px;
    right: 7px;
    z-index: 9999;
    font-size: 40px;
    color: #4c3b29;
    cursor: pointer;
    opacity: 0.8;
    display: none;
}

    .move-top:hover {
        opacity: 1;
    }


/*Format Video for Launch Page
------------------------------- */
.banner {
    text-align: center;
    color: #fff;
}

    .banner .overlay {
        width: 100%;
        height: 100%;
    }

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.banner .intro-text h1 {
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

    .banner .intro-text h1 span {
        color: #ff432e;
    }

.banner .intro-text p {
    color: #fff;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.banner .intro-text .btn-primary {
    border-color: #fff;
    color: #fff;
    border-radius: 0;
    width: 130px;
}

.banner .btn-primary:hover {
    background: #fff;
    border-color: #fff;
    color: #111;
}


#restaurantVid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
    object-fit: cover;
    opacity: 1;
    z-index: -1;
    transform: translateY(-20%);
    /*transform: scale(0.85);*/
}

/*dynamic-background*/
#dynamic-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
    z-index: -1; /* Sit on top */
}